
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

html, body, #root {   
  height: 100%; 
  text-align: center;
  display: flex;
  justify-content: center;
}

.body {
  height:100%;
}


body {
  height: 100%;
  margin: 0;
  font-family: 'Lato';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
